<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section
			name="AmdChecker"
			type="StockCheckerBot.Config.Section.AmdCheckerConfigSection, StockCheckerBot"
			allowDefinition="Everywhere"
			allowExeDefinition="MachineToApplication"
			restartOnExternalChanges="true" />
	</configSections>

	<AmdChecker
		CheckInterval="5"
		FallbackUrl="https://www.amd.com/en/direct-buy/at"
		ContainString="Add to cart">
		<Sounds
			InStock="Data/Giorno.wav"
			NotAvailable=""
			RequestError="!Hand"
			/>
		<Websites
			BaseOpenUrl="https://www.amd.com/en/direct-buy/{ProductId}/at"
			BaseCheckUrl="https://www.amd.com/en/direct-buy/products/{ProductId}/at"
			/>
		<Items>
			<Add Alias="RX 6800XT" ProductId="5458374100"/>
			<Add Alias="RX 6800XT Midnight" ProductId="5496921500"/>
			<Add Alias="RX 6900XT" ProductId="5458374200"/>
		</Items>
	</AmdChecker>
	<appSettings>
		<add key="RestartOnCrash" value="true"/>
	</appSettings>
</configuration>